.card-option:hover {
  cursor: pointer;
  color:#1bbaaf;
}

.check-box-list {
overflow: hidden
}
.check-box-list li {
line-height: 24px
}
.check-box-list label {
display: inline-block;
cursor: pointer;
line-height: 12px
}
.check-box-list label:hover {
color: black
}
.check-box-list label u {
color: black
}

.check-box-list input[type="checkbox"] {
display: none
}
.check-box-list input[type="checkbox"]+label span.button {
display: inline-block;
width: 12px;
height: 12px;
margin-right: 13px;
margin-left: 30px;
background: url("/static/images/checkbox.png") no-repeat;
padding: 10;
border: none
}

.check-box-list input[type="checkbox"]+label span.button {
margin-right: 6px
}

.check-box-list input[type="checkbox"]:checked+label span.button {
background: #ff3366 url("../images/checked.png") no-repeat center center
}
.check-box-list input[type="checkbox"]:checked+label {
color: #ff3366
}
.check-box-list label span.count {
color: #a4a4a4;
margin-left: 2px
}
